if SHIELD_LYKILL_LEFT

# Name must be less than 16 characters long!
#config ZMK_LYKILL
#    default "Lykill"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LYKILL_LEFT || SHIELD_LYKILL_RIGHT

config ZMK_SPLIT
    default y

endif