/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------------
            //|         ESC |F1   | F2  |  F3  |  F4  |  F5  |
            //| SqBr|   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            //| SqBr|  <    |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            //| Br  |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            //| Br  | SHIFT |  Z  |  X  |  C   |  V   |  B   |    |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |
            // the right keyboard is upside down

            bindings = <
&kp CAPS        &kp N1      &kp N2      &kp N3          &kp N4          &kp N5                  &kp MINUS     &kp N0     &kp N9     &kp N8         &kp N7       &kp N6  
&kp TAB         &kp Q       &kp W       &kp E           &kp R           &kp T                   &kp EQUAL     &kp P      &kp O      &kp I          &kp U        &kp Y    
&kp ESC         &kp A       &kp S       &kp D           &kp F           &kp G                   &kp LBKT      &kp SEMI   &kp L      &kp K          &kp J        &kp H     
&kp LSHFT       &kp BACKSLASH    &kp Z       &kp X           &kp C           &kp V                   &kp RBKT      &kp DOT    &kp COMMA  &kp M          &kp N        &kp B   
                &kp LCTRL   &kp LALT    &kp RIGHT_ARROW &kp DOWN_ARROW  &kp ENTER  &kp SPACE                  &kp SLASH  &kp GRAVE  &kp LEFT_ARROW &kp UP_ARROW &kp BACKSPACE  &kp SPACE
            >;
        };

    };
};