/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------------
            //|         ESC |F1   | F2  |  F3  |  F4  |  F5  |
            //| SqBr|   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            //| SqBr|  <    |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            //| Br  |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            //| Br  | SHIFT |  Z  |  X  |  C   |  V   |  B   |    |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&none      &kp ESC    &kp F1    &kp F2    &kp F3    &kp F4     &kp F5                              &kp F6     &kp F7     &kp F8     &kp F9    &kp F10   &kp F11     &kp F12
&kp LBKT   &kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4     &kp N5                              &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp DELETE  &kp SEMI
&kp RBKT   &kp PIPE   &kp Q     &kp W     &kp E     &kp R      &kp T                               &kp Y      &kp U      &kp I      &kp O     &kp P     &kp BSPC    &kp COLON
&kp LPAR   &kp TAB    &kp A     &kp S     &kp D     &kp F      &kp G                               &kp H      &kp J      &kp K      &kp L     &kp SEMI  &kp SQT     &kp KP_PLUS
&kp RPAR   &kp LSHFT  &kp Z     &kp X     &kp C     &kp V      &kp B                               &kp N      &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT   &kp MINUS
           &kp AMPS   &kp LALT  &kp LCTRL &kp INS   &mo LOWER  &kp RET                             &kp SPACE  &mo RAISE &kp DELETE  &kp RCTRL &kp RALT  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};